<html>
<head>
 <title>Welcome to my Zone</title>
        <h1>Image Detected and Reckognised </h1>
        <h2> The result is {{result.return_str}} </h2>
	
	<marquee behavior="alternate" direction="up" width="90%">
	<marquee direction="right" behavior="alternate"> <font size="26">Seems my Prediction is quite right.. Hurray!!!</font> </marquee>
        </marquee>
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.415.0.min.js"></script>

<style>
body {
    -webkit-animation: colorchange 60s infinite; 
    animation: colorchange 60s infinite;
}
@-webkit-keyframes colorchange {
     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
}
@keyframes colorchange {
     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
}
</style>
</body>
</head>
</html>
